<% if notice %>
  <div class="alert alert-success alert-dismissible fade show">
    <div class="text-center">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show">
    <div class="text-center">
      <%= alert %>
    </div>
  </div>
<% end %>